@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
text-decoration: none;
}
body{
    
    font-family: 'popins', sans-serif;
}

nav {
    height: 80px;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid #000; */
    /* opacity: 50%; */
}
header{
        height: 100vh;
        background-image:
        linear-gradient(to right bottom,rgba(0, 0, 0, 0.8),rgba(0,0,0,0.5)),
        url("C:/Users/admin/Desktop/breif3/image/ZZZ.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
}
nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 16px;
}

nav ul li a {
    position: relative;
    color: rgb(20, 18, 18);
    font-size: 17px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
}

nav ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #FFCE33;
    transform: scale(0);
    transform-origin: left;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scale(1);
    transform-origin: left;
    border-radius: 5px;
}

label #btn, label #cancel {
    color: rgb(14, 13, 13);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.header_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
}
.header_content h1{
  
    font-size: 95px;
    color: white;

}
.header_content P{
  
    
    color: rgb(216, 213, 213);

}
.header_content button {
    border:none;
    outline: none;
    background-color:#FFCE33;
    display:flex;
    justify-content: center;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding: 21px 39px;
    border-radius: 11PX;
    margin: 29PX;
    text-transform: uppercase;
    padding: 21px 39px;
    border-radius: 11PX;
    margin: 29PX;
    text-transform: uppercase;
}
#footer {
    width: 100%;
    position: absolute;
    top: 103%;
    min-height: 13vh;
    background-color: #e2e2e2;
    overflow: hidden;
}

/** GRID **/
/** ONLY FOR WEB VIEW **/
#footer .footer-w {
    padding: 0 50px;
    display: flex;
    justify-content: center;
}
#footer .footer-w .s-icons .s-box {
    padding: 33px;
    font-size: 30px;

}
@media (max-width:944px) {
    nav ul li a {
        font-size: 17px;
    }
}

@media (max-width:860px) {
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: -100vh;
        background-color: #2b3136;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #btn {
        display: none;
    }
    #check:checked~label #cancel {
        display: block;
    }
}
