@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
li{
    list-style: none;
}
a{
text-decoration: none;
}
body{
    
    font-family: 'popins', sans-serif;
}

nav {
    height: 80px;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid #000; */
    /* opacity: 50%; */
}

.logoCar{
    width: 157px;
    position: absolute;
    top: 16px;
    left: 16px;
}
header{
        height: 100vh;
        background-image: url("image/ZZZ.jpg");
        /* linear-gradient(to right bottom,rgba(0, 0, 0, 0.8),rgba(0,0,0,0.5)), */
       
        background-position: center;
        
        background-size: cover;
        background-repeat: no-repeat; 
}

header p {
    border-radius: 26px;
    background: transparent;
    color: black;
    padding: 12px 46px;
    text-align: center;
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.15);
}
nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 16px;
}

nav ul li a {
    position: relative;
    color: rgb(20, 18, 18);
    font-size: 17px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
}

nav ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #FFCE33;
    transform: scale(0);
    transform-origin: left;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scale(1);
    transform-origin: left;
    border-radius: 5px;
}

/* /////////////////////////////////////////////////// */
ul {
    float: right;
    margin-right: 25px;
    color: #fff;
}

ul li {
    display: flex;
    line-height: 50px;
    margin: 0 16px;
}

 ul li a {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
}
 ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #FFCE33;
    transform: scale(0);
    transform-origin: left;
    transition: transform .4s linear;
}

 ul li a:hover:before {
    transform: scale(1);
    transform-origin: left;
    border-radius: 5px;
}

label #btn, label #cancel {
    color: rgb(14, 13, 13);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.header_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
}
.header_content h1{
  
    font-size: 95px;
    color: white;
    font-family:'poppins' ;

}
.header_content P{
  
    
    color: black;
}
.header_content .btn-reservation {
    border:none;
    outline: none;
    background-color:#FFCE33;
    display:flex;
    justify-content: center;
    cursor:pointer;
    color:#000000;
    font-family:'poppins' ,sans-serif;
    font-size:20px;
    padding: 21px 39px;
    border-radius: 11PX;
    margin: 29PX;
    text-transform: uppercase;
    padding: 21px 39px;
    border-radius: 11PX;
    margin: 29PX;
    text-transform: uppercase;
}
#footer {
    width: 100%;
    position: absolute;
    top: 100%;
    min-height: 13vh;
    background-color: #8f8787;
    overflow: hidden;
}

.firstFooter{
    /* border: 2px solid; */
    height: 256px;
    padding: 20px;
    max-width: 300px;
}

.quickLinks h2{
    text-align: left;
}

.firstFooter h2{
    margin-bottom: 24px;
}

/** GRID **/
/** ONLY FOR WEB VIEW **/
#footer .footer-w {
    padding: 0 50px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 55px;
    gap: 100px;
    text-align: center;
}
#footer .footer-w .s-icons .s-box {
    padding: 33px;
    font-size: 30px;
    background-color: #FFCE33;
    transform: translateX(64px);
}

.logoFooter{
    width: 250px;
}
#footer .footer-w .s-icons .s-box div{
    cursor: pointer;
    margin-bottom: 10px;
    color: black;
}
@media (max-width:944px) {
    nav ul li a {
        font-size: 17px;
    }
}

@media (max-width:860px) {
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: -100vh;
        background-color: #ffffff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #btn {
        display: none;
    }
    #check:checked~label #cancel {
        display: block;
    }
.header_content{
    flex-direction: column;
}

}

