@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "popins", sans-serif;
}

nav {
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #000;
    /* opacity: 50%; */
}
.logoCar{
    width: 157px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.titles{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    font-size: xxx-large;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 16px;
}

nav ul li a {
    position: relative;
    color: rgb(20, 18, 18);
    font-size: 17px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
}

nav ul li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #ffce33;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.4s linear;
}

nav ul li a:hover:before {
    transform: scale(1);
    transform-origin: left;
    border-radius: 5px;
}

label #btn,
label #cancel {
    color: rgb(14, 13, 13);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 944px) {
    nav ul li a {
        font-size: 17px;
    }
}

@media (max-width: 860px) {
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: -100vh;
        background-color: #ffffff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    #check:checked ~ label #btn {
        display: none;
    }
    #check:checked ~ label #cancel {
        display: block;
    }
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 35px 50px 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.container .contactinfo .box .text h3 {
    font-size: 18px;
    font-style: bolde;
    font-weight: bold;
    /* font-weight: 200; */
    color: #1f2532;
    color: #1f2532;
}

.contact .content p {
    font-weight: 300%;
    color: #000;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box {
    padding: 20px 0;
    display: flex;
}

.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    border-radius: 8px;
    background: #ffce33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contactinfo .box .text {
    display: flex;
    margin-left: 30px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .text h2 {
    font-weight: 500;
}

.contactform {
    width: 40%;
    border: 3px solid;
    border-radius: 8px;
    padding: 40px;
    background-color: #ffffff;
}

.contactform h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 10px;
    border: none;
    border-bottom: 2px solid #ffce33;
    outline: none;
    resize: none;
}

.contactform .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 15px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"] {
    background: #ffce33 ;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 19px;
}
#footer {
    width: 100%;
    /* position: absolute; */
    top: 103%;
    min-height: 13vh;
    background-color: #e2e2e2;
    overflow: hidden;
}

/** GRID **/
/** ONLY FOR WEB VIEW **/

#footer .footer-w {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 55px;
    text-align: center;
}

#footer .footer-w .s-icons .s-box {
    padding: 33px;
    font-size: 30px;
}
#footer .footer-w .s-icons .s-box span {
    cursor: pointer;
}


/* /////////////////////////////////////////////////// */
ul {
    float: right;
    margin-right: 25px;
    color: #fff;
}

ul li {
    display: flex;
    line-height: 50px;
    margin: 0 16px;
}

 ul li a {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
}
 ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #FFCE33;
    transform: scale(0);
    transform-origin: left;
    transition: transform .4s linear;
}

 ul li a:hover:before {
    transform: scale(1);
    transform-origin: left;
    border-radius: 5px;
}

label #btn, label #cancel {
    color: rgb(14, 13, 13);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.header_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
}
.header_content h1{
  
    font-size: 95px;
    color: white;
    font-family:'poppins' ;

}
.header_content P{
  
    
    color: black;
}
.header_content .btn-reservation {
    border:none;
    outline: none;
    background-color:#FFCE33;
    display:flex;
    justify-content: center;
    cursor:pointer;
    color:#000000;
    font-family:'poppins' ,sans-serif;
    font-size:20px;
    padding: 21px 39px;
    border-radius: 11PX;
    margin: 29PX;
    text-transform: uppercase;
    padding: 21px 39px;
    border-radius: 11PX;
    margin: 29PX;
    text-transform: uppercase;
}
#footer {
    width: 100%;
    position: absolute;
    top: 100%;
    min-height: 13vh;
    background-color: #8f8787;
    overflow: hidden;
}

.firstFooter{
    /* border: 2px solid; */
    height: 256px;
    padding: 20px;
    max-width: 300px;
}

.quickLinks h2{
    text-align: left;
}

.firstFooter h2{
    margin-bottom: 24px;
}

/** GRID **/
/** ONLY FOR WEB VIEW **/
#footer .footer-w {
    padding: 0 50px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 55px;
    gap: 100px;
    text-align: center;
}
#footer .footer-w .s-icons .s-box {
    padding: 33px;
    font-size: 30px;
    background-color: #FFCE33;
    transform: translateX(64px);
}

.logoFooter{
    width: 250px;
}
#footer .footer-w .s-icons .s-box div{
    cursor: pointer;
    margin-bottom: 10px;
    color: black;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactinfo {
        margin-bottom: 40px;
    }
    .container .contactinfo .contactform {
        width: 100%;
    }
    .contactform {
        padding: 0;
        width: 70%;
    }
    #footer .footer-w {
        padding: 70 50px;
        display: block;
        /** APPLY TEXT-ALIGN CENTER TO MAKE MORE BEAUTIFUL **/
        text-align: center;
    }
}


