@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
body{
    height: 100vh;
    background-color: #ffffff;
    /* background-image: url("C:/Users/admin/Desktop/breif3/image/mrc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

nav {
    height: 80px;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid #000; */
    /* opacity: 50%; */
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 16px;
}

nav ul li a {
    position: relative;
    color: rgb(20, 18, 18);
    font-size: 17px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
}

nav ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #FFCE33;
    transform: scale(0);
    transform-origin: left;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scale(1);
    transform-origin: left;
    border-radius: 5px;
}

label #btn, label #cancel {
    color: rgb(14, 13, 13);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.parag{
    text-align: center;
    margin-top:20px ;
    font-size: 30px;
    font-weight: bold;
}

form{
    margin:130px;
    display: flex;
    justify-content: center; 
    
     
}

select {
    font-family: 'Open Sans', sans-serif;
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1.2px solid #ebebeb;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 1px 1px #d0d4d9;
    font-size: 14px;
    font-weight: 500;
    margin: 8px;
}
input{
    font-family: 'Open Sans', sans-serif;
    padding: 4px 12px;
    outline: none;
    border-radius: 4px;
    border: 1.2px solid #ebebeb;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 1px 1px #d0d4d9;
    font-size: 14px;
    font-weight: 500;
    margin: 8px;
    /* letter-spacing: 5px; */
}

option {
    background-color: white !important;
    color: #000;
}
option:hover{
    transform: scale(1.1);
    z-index: 100;
}

select:hover {
    background-color:#FFCE33;
    color: rgb(0, 0, 0);
    border-color: #FFCE33;
    box-shadow: none;   
}
select:focus {
    border-radius: 4px 4px 0px 0px;
}
.myButton {
 
    
    background-color:#FFCE33;
    border-radius:4px;
    display:flex;
    justify-content: center;
    margin: -37px auto;
    cursor:pointer;
    color:#111010;
    font-family:Arial;
    font-size:20px;
    padding:15px 20px;
}
#footer {
    width: 100%;
    position: absolute;
    top: 103%;
    min-height: 13vh;
    background-color: #e2e2e2;
    overflow: hidden;
}

/** GRID **/
/** ONLY FOR WEB VIEW **/
#footer .footer-w {
    padding: 0 50px;
    display: flex;
    justify-content: center;
}


#footer .footer-w .s-icons .s-box {
    padding: 33px;
    font-size: 30px;

}
@media (max-width:944px) {
    nav ul li a {
        font-size: 17px;
    }
}

@media (max-width:860px) {
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: -100vh;
        background-color: #2b3136;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #btn {
        display: none;
    }
    #check:checked~label #cancel {
        display: block;
    }
}


